.grid {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h h"
  "c c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 6fr 6fr;
  /* grid-gap: 10px; */
}

.add-wrapper-content {
  grid-area: c;
  background-color: black;
}

.bannerCss{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.bannerCss img {
  width: 74%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hacs{
  width: 17%;
  padding: 1%;
}

.text{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 150%;
  margin-top: 4%
}

.button{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 12%;
}
.button img {
  width: 10%;
}

.vector{
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.partners{
  width: 100%;
  margin-top: 3%;
  margin-right: 5%;
}

.arr{
  width: 3%;
}

.team{
  width: 74%;
  padding: 2%;
}

.joinbutton{
  margin-bottom: 4%;
  width: 74%;
}